name: Build

on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - '**/README.md'
      - '.github/**'
  workflow_dispatch:

jobs:
  windows:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
      
    - name: Restore the application
      run: dotnet restore
      
    - name: Build for Windows
      run: dotnet publish Audio.Desktop -c Release -r win-x64

    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: net8.0_windows-${{ github.sha }}
        path: Audio.Desktop/bin/Release/net8.0/win-x64/publish

  linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
      
    - name: Restore the application
      run: dotnet restore
      
    - name: Build for Linux
      run: dotnet publish Audio.Desktop -c Release -r linux-x64

    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: net8.0_linux-${{ github.sha }}
        path: Audio.Desktop/bin/Release/net8.0/linux-x64/publish

  osx:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
      
    - name: Restore the application
      run: dotnet restore
      
    - name: Build for Mac
      run: dotnet publish Audio.Desktop -c Release -r osx-x64

    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: net8.0_osx-${{ github.sha }}
        path: Audio.Desktop/bin/Release/net8.0/osx-x64/publish